body {
    display: flex;
    flex-direction: column;
    background-color: #FCECE2;
    margin: 0;
}

.navBar {
    display: flex;
    flex-direction: row;
    background-color: #5762B8;
    justify-content: space-between;


}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.navIcon {
    width: 6rem;
    height: auto;
    padding: 1.5rem;

}

.wordMark {
    width: 7rem;
    height: auto;

}

.menu {
    display: flex;
    flex-direction: row;
    padding: 1rem;


}

.pressed {
    color: #FCECE2;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.link {
    color: #FCECE2;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.link:hover {
    text-decoration: underline;
}