.navBar {
    display: flex;
    flex-direction: row;
    background-color: #819DFF;
    align-content: flex-start;
}

.navIcon {
    width: 6.8rem;
    height: auto;
    padding: 1rem;
}

.wordMark {
    width: 7rem;
    height: auto;
}