.body {
    background-color: #FCECE2;

}

.navBar {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    background-color: #5762B8;

}

.navIcon {
    width: 6.8rem;
    height: auto;
    padding: 1rem;
}

.wordMark {
    width: 7rem;
    height: auto;
}