:root {
    --white: #FCECE2;
    --coral-pink: #F9897A;
    --vista-blue: #819DFF;
    --savoy-blue: #5762B8;
    --light-blue: #D9D9D9;
    font-family: 'Figtree', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--white);
    margin: 0;
}

.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--savoy-blue);
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

}

.navIcon {

    width: 6rem;
    height: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.wordMark {
    width: 7rem;
    height: auto;

}

.menu {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.link {
    display: flex;
    flex-wrap: wrap;
    color: var(--white);
    padding: 1rem;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.pressed {
    display: flex;
    flex-wrap: wrap;
    color: var(--white);
    font-weight: bolder;
    padding: 1rem;
}

.link {
    display: flex;
    flex-wrap: wrap;
    color: var(--white);

    padding: 1rem;
}

.link:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2rem;
    padding: 2rem;
    background-color: var(--light-blue);
    width: 85rem;
    height: 95rem;
    border-radius: 2rem;
}

.paletteTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4rem;
    font-size: 60px;
    font-weight: 900;
    color: var(--savoy-blue);
}

.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    height: 3rem;
  }
  
  .dots {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 2rem;
    gap: 10rem;
  }
  
  .linen {
    height: 15rem;
    width: 15rem;
    background-color: var(--white);
    border-radius: 50%;
  }
  
  .linen:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
  }

  .linenPara{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 9rem;
    gap: 2px;
    color: var(--savoy-blue);
  }

  .linenPara > h2 {
    font-weight: 300;
  }

  .linenPara > p {
    font-size: 1.5rem;
    font-weight: 10;
  }

  .coralPink {
    height: 15rem;
    width: 15rem;
    background-color: var(--coral-pink);
    border-radius: 50%;
  }
  
  .coralPink:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
  }

  .coralPara{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 9rem;
    gap: 2px;
    color: var(--coral-pink);
  } 

  .coralPara > h2 {
    font-weight: 300;
  }

  .coralPara > p {
    font-size: 1.5rem;
    font-weight: 10;
  }

  .vistaBlue {
    height: 15rem;
    width: 15rem;
    background-color: var(--vista-blue);
    border-radius: 50%;
  }
  
  .vistaPara{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 9rem;
    gap: 2px;
    color: var(--vista-blue);
  } 

  .vistaPara > h2 {
    font-weight: 300;
  }

  .vistaPara > p {
    font-size: 1.5rem;
    font-weight: 10;
  }

  .savoyBlue {
    height: 15rem;
    width: 15rem;
    background-color: var(--savoy-blue);
    border-radius: 50%;
  }
  
  .savoyPara{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 9rem;
    gap: 2px;
    color: var(--savoy-blue);
  } 

  .savoyPara > h2 {
    font-weight: 300;
  }

  .savoyPara > p {
    font-size: 1.5rem;
    font-weight: 10;
  }


.footerBar {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 8rem;
    height: 20rem;
    width: 100%;
    background-color: var(--savoy-blue);
}

.footerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footerIcon {
    width: 8rem;
}

.footerWords {
    height: 1rem;
    padding-top: 3rem;
}

.footerLink {
    display: flex;
    align-items: flex-end;
    padding: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: var(--white);
    text-decoration: underline;
}